* {
    box-sizing: border-box;
    padding: 0rem;
    margin: 0rem;
    font-family: 'Lexend Deca', sans-serif;
}
html{
    font-size: 62.5%;
}
main{
    background-color: hsl(0, 0%, 95%) ;
    position: absolute;
    display: flex;
    width: 80rem;
    height: 45rem;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
main div{
    
    max-height: auto;
    font-size: 1.5rem;
    padding:3rem;
    color: white;

}
main .main-sedan{
    background-color:hsl(31, 77%, 52%) ;
}
main .main-sedan button{
    color:hsl(31, 77%, 52%) ;
    font-weight: bold;
}
main .main-suv{
    background-color: hsl(184, 100%, 22%);
}
main .main-suv button{
    color:hsl(184, 100%, 22%) ;
    font-weight: bold;
}
main .main-luxury{
    background-color:hsl(179, 100%, 13%) ;
}
main .main-luxury button{
    color:hsl(179, 100%, 13%);
    font-weight: bold;
}

main  p,button,img{
    margin: 1rem 1rem;
}
main h1{
    margin: 0 1rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

main p{
    color:hsla(0, 0%, 100%, 0.75);
}
main button{
    width: 12rem;
    height:4rem;
    border:none;
    border-radius: 3rem;
    margin-top: 10rem;
}

main button:hover{
   color:white;
   background-color:transparent ;
   border: 0.2rem solid white;
}
.attribution { font-size: 0.11rem; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }